{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h2>Komentarze dla posta {{ post.topic }}</h2>
    {% if comments %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'comments.views.index.table.topic'|trans }}</th>
                <th>{{ 'comments.views.index.table.post'|trans }}</th>
                <th>{{ 'comments.views.index.table.enabled'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.content ? comment.content }}</td>
                    <td>{{ comment.CreatedAt ? comment.CreatedAt|date('d-m-Y') }}</td>
                    {% if comment.enabled == 1 %}
                        <td>Zatwierdzone</td>
                    {% else %}
                        <td>Nie zatwierdzone</td>
                    {% endif %}
                    <td>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                            <a class="" href="{{ path('admin-comments-view', { 'id' : comment.id }) }}">{{ 'show'|trans }}</a>
                            <a class="" href="{{ path('comments-edit', { 'id' : comment.id }) }}">{{ 'edit'|trans }} / akceptuj</a>
                            <a class="" href="{{ path('comments-delete', { 'id' : comment.id }) }}" onclick="return confirm('Na pewno chcesz usunąć komentarz?')">{{ 'delete'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'comments.views.index.no_comments'|trans }}</p>
    {% endif %}
{% endblock %}