{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h2>
        {{ 'comments.views.not-enabled-index.title'|trans }}
    </h2>
    <div class="well">
        {% if comments %}
            <table class="table">
                <thead>
                <tr>
                    <th>Post</th>
                    <th>Treść komentarza</th>
                    <th>Data</th>
                    <th>Zatwierdzony</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    {% if comment.enabled == 0 %}
                        <tr>
                            <td>{{ comment.content ? comment.content|length > 20 ? comment.content|slice(0, 20) ~ '...' : comment.content }}</td>
                            <td>{{ comment.post.topic ? comment.post.topic }}</td>
                            <td>{{ comment.CreatedAt ? comment.CreatedAt|date('d-m-Y') }}</td>
                            {% if comment.enabled == 1 %}
                                <td>Zatwierdzony</td>
                            {% else %}
                                <td>Nie zatwierdzony</td>
                            {% endif %}
                            <td>
                                <a class="btn btn-sm btn-default" href="{{ path('admin-comments-view', { 'id' : comment.id }) }}">{{ 'view'|trans }}</a>
                                <a class="btn btn-sm btn-default" href="{{ path('comments-edit', { 'id' : comment.id }) }}">{{ 'edit'|trans }} / akceptuj</a>
                                <a class="btn btn-sm btn-default" href="{{ path('comments-delete', { 'id' : comment.id }) }}">{{ 'delete'|trans }}</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ 'comments.views.index.no_comments'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}